#cp /etc/systemd/system/psirun.service
#sudo chmod 644 /etc/systemd/system/psirun.service
#sudo systemctl daemon-reload
#sudo systemctl enable psirun.service
#sudo systemctl start psirun.service

[Unit]
Description=Futuredial DSES Detect Service
After=graphical.target

[Service]
Type=simple
#User=qa
Restart=always
WorkingDirectory=/opt/futuredial/dsed
ExecStart=sudo /opt/futuredial/dsed/dseddetect

[Install]
WantedBy=multi-user.target
Alias=dseddetect.service