#cp /etc/systemd/system/psirun.service
#sudo chmod 644 /etc/systemd/system/psirun.service
#sudo systemctl daemon-reload
#sudo systemctl enable psirun.service
#sudo systemctl start psirun.service

[Unit]
Description=Futuredial DSED Detect Service
#After=graphical.target

[Service]
Type=idle
#User=qa
Environment="DSEDHOME=/opt/futuredial/dsed"
Restart=always
ExecStart=/opt/futuredial/dsed/dseddetect
WorkingDirectory=/opt/futuredial/dsed

[Install]
WantedBy=multi-user.target
Alias=dseddetect.service
